In [1]:
#This is a very simplified notebook to understand how to code Linear Regression model.

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv("student/student-por.csv", sep=';') #Read the file through pandas library & if you are running the code in your local use 'Sep=;' since its comma separated file


data.head()  #To display the top 5 rows & columns from the dataframe

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [4]:
data.shape #Check the shape of the dataframe

(649, 33)

In [5]:
data.isnull().sum() #Check if you have any null values in your dataset

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [11]:
data=data[['absences','failures','G1','G2','G3','studytime', 'failures']] #Attributes to test

predict='G3'                    
x=np.array(data.drop(['G3'],1))
y=np.array(data[predict])

In [12]:
 x_train,x_test,y_train,y_test=train_test_split(x, y, test_size=0.33)

In [15]:
from sklearn.linear_model import SGDRegressor

sgd_reg = SGDRegressor(penalty="l2") # specifying Ridge Regression

sgd_reg.fit(x_train, y_train)

accuracy=linear.score(x_test,y_test)  
print(accuracy)

0.8928688018902455