*http://archive.ics.uci.edu/ml/datasets/Car+Evaluation*

### All needed imports

In [13]:
import pandas as pd
pd.options.display.max_colwidth = 80

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [3]:
header_list = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class value']
cars = pd.read_csv('car.data', names=header_list, index_col=None)

In [4]:
cars.head(10)

  buying  maint doors persons lug_boot safety class value
0  vhigh  vhigh     2       2    small    low       unacc
1  vhigh  vhigh     2       2    small    med       unacc
2  vhigh  vhigh     2       2    small   high       unacc
3  vhigh  vhigh     2       2      med    low       unacc
4  vhigh  vhigh     2       2      med    med       unacc
5  vhigh  vhigh     2       2      med   high       unacc
6  vhigh  vhigh     2       2      big    low       unacc
7  vhigh  vhigh     2       2      big    med       unacc
8  vhigh  vhigh     2       2      big   high       unacc
9  vhigh  vhigh     2       4    small    low       unacc

In [5]:
cars.describe()

       buying maint doors persons lug_boot safety class value
count    1728  1728  1728    1728     1728   1728        1728
unique      4     4     4       3        3      3           4
top       low   low     2       2      med    low       unacc
freq      432   432   432     576      576    576        1210

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying         1728 non-null object
maint          1728 non-null object
doors          1728 non-null object
persons        1728 non-null object
lug_boot       1728 non-null object
safety         1728 non-null object
class value    1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [11]:
train_set, test_set = train_test_split(cars, test_size=0.2, random_state=42)

In [12]:
train_set, test_set

(     buying  maint  doors persons lug_boot safety class value
 107   vhigh  vhigh  5more    more      big   high       unacc
 901     med  vhigh      3       4    small    med       unacc
 1709    low    low  5more       2      big   high       unacc
 706    high    med      4       2      med    med       unacc
 678    high    med      3       2      med    low       unacc
 ...     ...    ...    ...     ...      ...    ...         ...
 1130    med    med      3    more      med   high       vgood
 1294    med    low  5more    more      big    med        good
 860    high    low  5more    more      med   high         acc
 1459    low   high      4       2    small    med       unacc
 1126    med    med      3    more    small    med         acc

 [1382 rows x 7 columns],
      buying  maint  doors persons lug_boot safety class value
 599    high   high      4       2      med   high       unacc
 1201    med    low      2       4      med    med         acc
 628    high   high  5more       2      big    med       unacc
 1498    low   high  5more       4      med    med         acc
 1263    med    low      4    more      med    low       unacc
 ...     ...    ...    ...     ...      ...    ...         ...
 100   vhigh  vhigh  5more    more    small    med       unacc
 274   vhigh    med      4       2      med    med       unacc
 1206    med    low      2    more    small    low       unacc
 101   vhigh  vhigh  5more    more    small   high       unacc
 1084    med    med      2       2      med    med       unacc

 [346 rows x 7 columns])

#### Maybe next time try *Stratified Sampling*